# .env

# Database credentials
DB_HOST=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_PORT=

# FTP credentials
FTP_HOST=
FTP_PORT=21
FTP_USER=
FTP_PASSWORD=

# Other sensitive configurations
REMOTE_BASE_PATH=/


OPENAI_API_KEY=
