@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply default font weight of 100 globally */
body {
    @apply font-thin;
    /* Applies the custom thin font weight */
}

/* Ensure that the Inter font is being used by default */
body {
    font-family: 'Inter', sans-serif;
    font-weight: 100; /* Apply default font weight of 100 */
}

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    color-scheme: dark;
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
    ) rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

* {
    margin: 0;
    padding: 0;
    font-weight: 100;
}


/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
body::-webkit-scrollbar {
    width: 0; /* Hide vertical scrollbar */
    height: 0; /* Hide horizontal scrollbar */
}

/* Hide scrollbar for Firefox */
body {
    scrollbar-width: none; /* Hide scrollbar */
}

/* Hide scrollbar for Internet Explorer and Edge */
body {
    -ms-overflow-style: none; /* Hide scrollbar */
}

/* Optional: Ensure that body is scrollable */
body {
    overflow: auto; /* Allow scrolling */
}
