@import "tailwindcss";

/* Global styles */
body {
    @apply font-thin;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    color: rgb(var(--foreground-rgb));
    color-scheme: dark;
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
    ),
    rgb(var(--background-start-rgb));

    /* Hide scrollbar on IE, Edge, and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari, and Opera */
body::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
}

/* Optional: If other scrollable elements show scrollbars, hide them too */
*::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* Root variables */
:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

/* Tailwind base styles (reset padding and margin properly) */
@layer base {
    *, *::before, *::after {
        box-sizing: border-box;
    }

    /* Add margin and padding reset for specific elements only */
    body, h1, h2, h3, h4, h5, h6, p, figure, blockquote, dl, dd, ul, ol {
        margin: 0;
        padding: 0;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

/* Reset margins and paddings (custom resets) */
* {
    font-weight: 100;
}

.leaflet-marker-icon{
    border-radius: 25%;
}


@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fade-in 0.5s ease-out forwards;
}
